<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/chat.css">
    <title>Chat</title>
</head>

<body>
    <div class="container">
        <form class="menu">
            <div class="chat">

            </div>
            <input type="text" class="chatbar" />
            <button type="submit" class="btn-ok">OK</button>
        </form>

    </div>



    <script src="/socket.io/socket.io.js"></script>
    <script> const nome = '<%= nome %>'</script>
    <script src="./main.js"></script>
</body>

</html>